// .section-mv {
//     position: relative;

//     .comp-main-slider {
//         width: calc(100% - 374rem);
//         -webkit-transition: opacity 1.2s cubic-bezier(0.77, 0, 0.175, 1);
//         transition: opacity 1.2s cubic-bezier(0.77, 0, 0.175, 1);
//         will-change: opacity;
//         margin-left: auto;
//         position: relative;
//         height: calc(100vh - 163px);

//         @include media('cst_hd_nav') {
//             height: calc(100vh - 136px);
//         }

//         @include media('tb') {
//             height: calc(100vh - 70px);
//         }

//         @include media('sp') {
//             width: calc(100% - 28rem);
//         }

//         &::after {
//             display: block;
//             content: "";
//             position: absolute;
//             top: 0;
//             right: 0;
//             width: 100%;
//             height: 100%;
//             z-index: 10;
//             background: #fff;
//             -webkit-transition: width 1.8s cubic-bezier(0.77, 0, 0.175, 1);
//             transition: width 1.8s cubic-bezier(0.77, 0, 0.175, 1);
//             will-change: width;
//         }

//         &.loaded {
//             opacity: 1;
//         }

//         &.loaded::after {
//             width: 0%;
//         }

//         li {
//             position: absolute;
//             width: 0;
//             height: 100%;
//             overflow: hidden;
//             -webkit-transition: width 1.8s cubic-bezier(0.65, 0, 0.35, 1);
//             transition: width 1.8s cubic-bezier(0.65, 0, 0.35, 1);
//             will-change: width;
//             top: 0;
//             bottom: 0;
//             right: 0;
//             margin: auto;

//             .img_wrap {
//                 position: absolute;
//                 top: 0;
//                 bottom: 0;
//                 right: 0;
//                 left: 0;
//                 margin: auto;
//                 display: block;
//                 width: 100%;
//                 height: 100%;
//                 background-position: center center;
//                 background-size: cover;
//                 pointer-events: none;

//                 img {
//                     opacity: 0;
//                 }
//             }

//             &.display_slide3 {
//                 width: 100%;
//                 z-index: 10;
//                 -webkit-transition: width 0.5s cubic-bezier(0.65, 0, 0.35, 1);
//                 transition: width 0.5s cubic-bezier(0.65, 0, 0.35, 1);
//                 will-change: width;
//             }

//             &.display_slide2 {
//                 width: 100%;
//                 z-index: 15;
//             }
//         }
//     }

//     .main_ttl {
//         position: absolute;
//         bottom: 0;
//         left: 90rem;

//         @include media('sp') {
//             left: 125rem;
//             padding-left: 80rem;
//         }

//         .title_1 {
//             font-size: 20.5rem;
//             letter-spacing: 0.19em;
//             line-height: 35.87rem;
//             color: #d4b669;

//             @include media('sp') {
//                 font-size: 18.8rem;
//                 letter-spacing: 0.19em;
//                 line-height: 32.89rem;
//                 color: #fff;
//             }
//         }

//         .title_2 {
//             font-family: "fot-tsukumin-pr6n", sans-serif;
//             font-weight: 300;
//             font-style: normal;
//             font-size: 90rem;
//             letter-spacing: 0.04em;
//             line-height: 156.45rem;

//             @include media('sp') {
//                 font-size: 82.53rem;
//                 letter-spacing: 0.04em;
//                 line-height: 143.46rem;            
//                 color: white;    
//             }

//             span {
//                 &:last-child {
//                     color: white;
//                 }
//             }
//         }

//         .Mv__scroll {

//             position: relative;
//             width: fit-content;
//             padding-bottom: 108rem;
//             margin-top: 50rem;

//             .text {
//                 font-size: 16rem;
//                 letter-spacing: 0.1em;
//                 line-height: 43.04rem;
//                 writing-mode: vertical-rl;
//             }

//             .line {
//                 position: absolute;
//                 width: 1px;
//                 height: 80rem;
//                 left: 50%;
//                 bottom: 0;
//                 background-color: #ddd;
//                 overflow: hidden;

//                 &::after {
//                     content: "";
//                     position: absolute;
//                     width: 1px;
//                     height: 100%;
//                     left: 0;
//                     bottom: 0;
//                     background-color: $text_color;
//                     -webkit-animation-name: line-repetition;
//                     animation-name: line-repetition;
//                     -webkit-animation-duration: 4.0s;
//                     animation-duration: 4.0s;
//                     -webkit-animation-timing-function: cubic-bezier(0.52, 0.08, 0.18, 1);
//                     animation-timing-function: cubic-bezier(0.52, 0.08, 0.18, 1);
//                     -webkit-animation-iteration-count: infinite;
//                     animation-iteration-count: infinite;
//                 }
//             }
//         }
//     }
// }

:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }
  
.fadein {
opacity: 0;
transition: all 1.5s;
transform: translate(0, 100px);
}

.fadein.visible {
opacity: 1;
transform: translate(0, 0);
}

body {
    background-color: #e58aa3;
    display: flex;
    justify-content: center;

    .rest {
        background-color: #7EBAE4;
        height: auto;
    }

    .shadow {
        box-shadow: 0px 0px 60px #b43941c5;
    }

}

section {
    background-color: #ffffff;
    max-width: 390.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fv {
    width: auto;
    display: flex;
    flex-direction: column;
    .bg {
        width: 100%;
        height: 441.51px;
        background-size: 100%;
        background: url("./../image/fv.svg") no-repeat top center;
        background-color: #76B5E1;
        text-align: center;
        padding-top: 48.9px;
    }
    
    .text {
        width: 100%;
        height: 234px;
        text-align: center;
        background: url("./../image/link_a.png") ;
        background-size: cover;
        color: #ffffff;
        z-index: 101;
        p {
            text-shadow: #76B5E1, 0,3,6px;
            font-size: 32px;
            margin-bottom: 6px;
            line-height: 1.2;
        }
    }
}

.link23 {
    width: 390.5px;
    height: 32px;
    background-image: url('./../image/link2_3.png');

    background-size: cover;
    background-position: center;
}

.link34 {
    background-image: url('./../image/link3_4.png');
    height: 32px;
    width: 390.5px;
}

.link67 {
    background-image: url('./../image/link6_7.png');
    // height: 32px;
    // width: 390.5px;
}
// .link45 {
//     background-image: url('./../image/link4_5.png');
//     height: 32px;
//     width: 390.5px;
// }

.link {
    // position: relative;
    // background-color: yellow;
    // max-width: 390.5px;
    width: 390.5px;
   

    // @include media('min') {
    //     margin-top: -14px;
    //     margin-bottom: -10px;
    //     z-index: -3;
    // }
    // img {
    //     width: 100%;
    //     height: 99%;
    //     object-fit: cover;
    // }
}

.second_v {
    width: 100%;
    height: auto;
    padding-top: 251px;
    padding-bottom: 54px;
    background-image: url("./../image/sv_bg.svg");
    background-color: #FEECF1;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // z-index: 1;
    margin-bottom: -1px;

    img {
        animation: bounce; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 2s;
    }
    p {
        line-height: 1.3;
        color: #505050;
    }

    img.sv_1 {
        position: absolute;
        top: 4.6px;
        left: -7px;
        z-index: 2;
    }
    img.sv_2 {
        position: absolute;
        top: 10.6px;
        right: -9px;
        z-index: 2;
    }
    img.sv_3 {
        position: absolute;
        top: 115.1px;
        left: 65px;
        z-index: 1;
    }
    img.sv_center_pic {
        position: absolute;
        top: 274.8px;
        // left: 65px;
        // z-index: -1;

    }
    p {
        font-size: 14px;
    }
    p.first {
        margin-bottom: 8px;
    }
    p.second {
        margin-bottom: 28.1px;
    }
    p.third {
        margin-bottom: 9px;
    }
    p.fourth {
        font-size: 16px;
        margin-bottom: 26.1px;
    }
    div.dan {
        margin-top: 26.1px;
        text-align: center;
        p {
            margin: 9px 0;
        }
    }
    .left_decoration {
        position: absolute;
        top: 53%;
        left: -113px;
    }
    .right_decoration {
        position: absolute;
        // top: 50%;
        right: -87.5px;
        bottom: 3%;
    }

}

.third_v {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 14.5px;
    padding-left: 51px;
    padding-right: 51px;
    padding-bottom: 26.2px;

    margin-bottom: -1px;
    margin-top: -2px;
    .top {
        margin-bottom: 10px;
    }
    p {
        font-size: 14px;
        line-height: 1.857;
    }
}

.fourth_v {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55.3px;
    padding-left: 51px;
    padding-right: 51px;
    padding-bottom: 52px;
    background-color: #DBEDF9;


    // position: relative;
    // height: 70px;
    // width: 600px;
    // background: #e0efe3;

    // &:before {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     border-radius: 100% 50%;
    //     width: 340px;
    // height: 80px;
    // background-color: white;
    // right: -5px;
    // top: 40px;
    // }

    // &:after {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     border-radius: 100% 50%;
    //     width: 300px;
    // height: 70px;
    // background-color: #e0efe3;
    // left: 0;
    // top: 27px;
    // }

    .title {
        color: #70AFDB;
        font-size: 32px;
        line-height: 1.75;
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-bottom: 22.8px;
        span{
            color: #505050;
            font-size: 23px;
        }
    }

    .f_text {
        font-size: 14px;
        line-height: 1.857;
        margin-bottom: 21.4px;
        span {
            font-weight: bold;
        }
    }
    
    img {
        margin-bottom: 20px;
    }
    .s_text {
        font-size: 14px;
        line-height: 1.857;
    }
}

.fivth_v {
    padding-top: 14.5px;
    display: flex;
    flex-direction: column;
    position: relative;
    // z-index: -1;

    // &:after {
    //     content: '';
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     height: 100%;
    //     background-color: #a47373; /* Light pink color, adjust as needed */
    //     clip-path: ellipse(50% 100% at 50% 100%);
    // }

    p.title {
        font-size: 23px;
        line-height: 2.437;
        margin-bottom: 15.5px;
        span {
            color: #DE89A3;
            font-size: 28px;
        }
    }
    img {
        margin-bottom: 16px;
    }
    div {
        p {
            font-size: 16px;
            line-height: 1.625;
            display: flex;
            align-items: center;
            margin-bottom: 6px;

            img {
                margin-bottom: 0px;
                margin-right: 6.3px;
            }
            // &:before{
            //     content: "";
            //     right: 0;
            //     width: 9px;
            //     height: 9px;
            //     background-color: #89C3EB;
            //     border-radius: 50%;
            // }
        }
    }

    &:after {
        // position: absolute;
        // background-color: red;
        // width: 100%;
        // height: 50px;
        // clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
        // content: '';
        // position: absolute;
        // bottom: 0;
        // left: 0;
        // right: 0;
        // height: 100%;
        // background-color: #FFE6E6; /* Light pink color, adjust as needed */
        // clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    }
}

.shape-container {
    width: 100%;
    height: 100px; /* Adjust as needed */
    position: relative;
    overflow: hidden;
    align-items: center;
    margin-top: -1px;
    margin-bottom: -1px;
    .shape {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    
    .top {
      background-color: #FFFFFF; /* White color */
      clip-path: polygon(0 -1%, 50% 50%, 100% -1%);
      z-index: 3;
    }
    
    .middle {
      background-color: #EA97B0; /* Light pink color */
      clip-path: polygon(0 0,0 10%, 50% 60%, 100% 10%, 100% 0);
      z-index: 2;
    }
    
    .bottom {
      background-color: #feecf1; /* Darker pink color */
      clip-path: polygon(0 10%, 50% 60%, 100% 10%, 100% 101%, 0 101%);
      z-index: 1;
    }
  }
  

.sixth_v {
    display: flex;
    flex-direction: column;
    background-color: #FEECF1;
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 26.5px;

        .main_title {
            font-size: 23px;
            color: #70AFDB;
        }
        .sub_title {
            font-size: 32px;
            color: #505050;
        }

    }
    .parag {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 22.4px;
        margin-bottom: 45.5px;

        .text {
            display: flex;
            flex-direction: column;
            gap: 14px;
            div {
                width: 196px;
            }
            .subtitle {
                h2 {
                    color: #EA97B0;
                    font-size: 16px;
                    line-height: 1.625;
                }
            }
            .content {
                p {
                    font-size: 14px;
                    color: #505050;
                    line-height: 1.857;
                }
            }
        }
    }

    .right {
        margin-left: -49px;
    }
    .parag.left {
        // flex-direction: row-reverse;

        margin-left: 31px;
    }
}

.seventh_v {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 37px;
    margin-top: -4px;
    height: auto;
    width: 100%;
    h2 {
        color: #EA97B0;
        font-size: 32px;
    }
}

.eighth_v {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DBEDF9;
    padding-bottom: 32px;
    h5 {
        color: #505050;
        font-size: 32px;
        margin-bottom: 30px;
    }
    .msg {
        display: flex;
        flex-direction: row;
        margin-bottom: 37px;
        div {
            width: 133px;
            height: 36px;
            background-color: #EA97B0;
            // display: flex;
            position: relative;
            border-radius: 10px;
            padding-top: 10px;

            &:first-child {
                margin-right: 22px;
            }
            &:after {
                position: absolute;
                content: "";
                width: 39px;
                height: 15px;
                background-color: inherit;
                // background-color: red;
                bottom: 0px;
                clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
                translate: 47px 50%;
            }

            p {
                font-size: 16px;
                text-align: center;
                color: #FFFFFF;
                line-height: 1;
            }
        }
    }

    .hundred {
        max-width: 348px;
        &>div {
            width: 100%;
            padding: 23px 25px 30px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            background-color: #FFFFFF;
            border-radius: 20px;
            margin-bottom: 10px;
            
            .question {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                
                &>div.content {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
                    img {
                        margin-right: 10px;
                    }

                    p {
                        width: 238px;
                        line-height: 1.714;
                        font-size: 14px;
                    }
                }

                // &>.btn:hover {
                //     width: 15px;
                //     height: 15px;
                // }
                &>.btn>img:hover {
                    cursor: pointer;

                }
            }

            .answer {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                img {
                    margin-right: 10px;
                }

                p {
                    width: 210px;
                    line-height: 1.714;
                    font-size: 14px;
                }
            }
        }
    }
}

.ninth_v {
    padding: 50px 51px 21px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    img {
        margin-bottom: 45.3px;
        align-self: center;
    }


    .fourteen {
        font-size: 14px;
        line-height: 1.714;
    }
    .twelve {
        font-size: 12px;
        line-height: 2;
    }
    
    p {
        align-self: flex-start;
    }
    p.com_name {
        margin-left: 16px;
        position: relative;
        margin-bottom: 6px;
        display: inline-flex;
        &::before {
            position: absolute;
            content: "";
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background-color: #89C3EB;
            top: 8px;
            left: -13px;
        }
    }

    p.com_intro {
        margin-bottom: 10px;
    }

    a.com_url {
        margin-bottom: 25px;
    }
    .last {
        margin-bottom: 55px;
    }

    .pink {
        display: inline-flex;
        width: 110%;
    }
    .pink > span {
        color: #EA97B0;
    }
}